*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #ebebeb;
    font-family: 'Fira Sans',sans-serif;
}

/* SIDE BAR */

.sidebar{
    position: fixed;
    top: 56px;
    left: 0;
    width: 280px;
    height: 100vh;

    background-color: #ebebeb;
    line-height: 37px;
    white-space: nowrap;
    overflow-y: auto;
}
.sidebar .side-items{
    padding-left: 35px;
    font-size: 20px;
}
.sidebar .side-items .fa{
    font-size: 25px;
    width: 60px;

}
.sidebar h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #606060;
    padding-left: 30px;
}
.sidebar>.list-1{
    border-bottom: 1px solid rgb(133, 132, 132);
    padding-bottom: 10px;
}
.sidebar>.list-2,.list-3,.list-4{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(133, 132, 132);
}
.sidebar .side-items:hover{
    background-color: #c0c0c0;
}
.sidebar:hover{
    background-color: #fff;
}




/* NAV BAR  */

header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    
}
.navbar img{
    height: 55px;
    padding-left: 20px;
}
.search>ul{
    display: flex;

}
.option li{
    display: inline-block;
    padding: 0px 8px;
}
.option{
    padding-right: 20px;
}
.logo{
    cursor: pointer;
}
header .fa{
    font-size: 20px;    
}
#microphone{
    border: 0px;
    border-radius: 150px;
    background-color: #adadad;
    padding: 10px;
    margin-left: 4px;
    cursor: pointer;

}
#search{
    border: 1px solid;
    padding: 9.9px;
    padding-right: 30vw;
}
#search-icon{
    padding: 10px;
    border: 0px;
    background-color: #adadad;
    cursor: pointer;
}
#sign-in{
    border: 3px;
    border-style:solid;
    padding: 8.9px;
    cursor: pointer;
}





/* MINI NAVBAR  */
.mininav{
    position: fixed;
    top: 55px;
    left: 280px;
    max-height: 55px;
    display: flex;
    padding: 10px 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    overflow-x: scroll;
}
.mininav .mini-list{
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    padding: 6px 10px;
    white-space: nowrap;
    text-align: center;
    
}



/* LINK  */

a:visited,a:link{
    color: black;
}

