.navbar>nav {
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    text-align: center;
    text-decoration: none;
}
.logo>img{
    height: 3rem;
    text-align: center;
}
.sidebar li{
    list-style: none;
}